Repository google/digitalbuildings, pull requests merged in 2020-07, with the labels that each got.

#22 Update documentation to match instance validator behavior
  ontology/docs/building_config.md
Labels: ontology instance validator

#36 added instructions to handle CORS error
  ibr/README.md
Labels: ibr

#35 Package code #2
  ibr/demo.js
  ibr/html/index.html
  ibr/ibr-sdk/build/ibr-sdk.js
Labels: ibr

#39 added instruction to start local server using python
  ibr/README.md
Labels: ibr

#33 Instance validator syntax
  .github/workflows/python_tools.yml
  tools/validators/instance_validator/__init__.py
  tools/validators/instance_validator/instance_parser.py
  tools/validators/instance_validator/main.py
  tools/validators/instance_validator/setup.py
  tools/validators/instance_validator/tests/__init__.py
  tools/validators/instance_validator/tests/fake_instances/BAD/bad_duplicate_keys.yaml
  tools/validators/instance_validator/tests/fake_instances/BAD/bad_missing_colon.yaml
  tools/validators/instance_validator/tests/fake_instances/BAD/bad_spacing.yaml
  tools/validators/instance_validator/tests/fake_instances/BAD/bad_tabbing.yaml
  tools/validators/instance_validator/tests/instance_parser_test.py
Labels: ontology instance validator

#47 Create a PreSubmit validation for the ontology type extensions
  .github/workflows/OntologyTypeValidator.yml
  tools/validators/ontology_validator/yamlformat/validator.py
  tools/validators/ontology_validator/yamlformat/validator/external_file_lib.py
  tools/validators/ontology_validator/yamlformat/validator/presubmit_validate_types_lib.py
Labels: enhancement, ontology model validator

#44 Lighting entity types
  ontology/yaml/resources/HVAC/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/LIGHTING/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/LIGHTING/entity_types/LT.yaml
  ontology/yaml/resources/LIGHTING/entity_types/enlighted.yaml
  ontology/yaml/resources/entity_types/global.yaml
Labels: enhancement, ontology model

#21 Update subfields.yaml
  ontology/yaml/resources/subfields/subfields.yaml
Labels: ontology model

#43 Refactor data class and add unit tests
  ibr/ibr-sdk/build/ibr-sdk.js
  ibr/ibr-sdk/class/IBRObject.js
  ibr/ibr-sdk/class/Layer.js
  ibr/package.json
  ibr/test/IBRObjectTest.js
  ibr/test/LayerTest.js
Labels: ibr

#51 Adding an RDF Example Usage
  ontology/rdf/README.md
  ontology/rdf/example/README.md
  ontology/rdf/example/exampleCode/example.rdf.digitalbuildings/pom.xml
  ontology/rdf/example/exampleCode/example.rdf.digitalbuildings/src/main/java/example/rdf/digitalbuildings/Main.java
  ontology/rdf/example/figures/PhysicalLocation.png
  ontology/rdf/example/figures/autoCompletion.png
  ontology/rdf/example/figures/fan.png
  ontology/rdf/example/figures/hasLocation.png
  ontology/rdf/example/figures/mavenDependencies.png
  ontology/rdf/example/figures/overallsteps.png
  ontology/rdf/example/figures/serialization.png
Labels: documentation, enhancement

#63 Update the Presubmit to fail when the ontology types are not valid
  tools/validators/ontology_validator/yamlformat/validator/external_file_lib.py
Labels: enhancement

#38 package everything under ibr-sdk
  .gitignore
  ibr/README.md
  ibr/demo.js
  ibr/html/index.html
  ibr/ibr-sdk/build/ibr-sdk.js
  ibr/ibr-sdk/package.json
  ibr/ibr-sdk/proto/ibr.proto
  ibr/ibr-sdk/rollup.config.js
  ibr/ibr-sdk/src/IBR-SDK.js
  ibr/ibr-sdk/src/IBRObject.js
  ibr/ibr-sdk/src/Layer.js
  ibr/ibr-sdk/src/colors.js
  ibr/ibr-sdk/src/index.js
  ibr/ibr-sdk/src/renderer.js
  ibr/ibr-sdk/test/IBRObjectTest.js
  ibr/ibr-sdk/test/LayerTest.js
  ibr/package.json
Labels: ibr

#75 Modify README for --update-modified-ontology flag
  tools/validators/instance_validator/README.md
  tools/validators/instance_validator/instance_validator.py
  tools/validators/instance_validator/setup.py
Labels: ontology instance validator

#53 Updates to ontology_config.md
  ontology/docs/ontology_config.md
Labels: ontology model

#78 Group layers under IBR UI
  ibr/examples/html/index.css
  ibr/ibr-sdk/src/IBRObject.js
  ibr/ibr-sdk/src/Visualization.js
  ibr/ibr-sdk/src/constants.js
  ibr/ibr-sdk/src/renderers.js
  ibr/ibr-sdk/src/sidebar.js
  ibr/ibr-sdk/src/util.js
Labels: ibr

#81 Vertical Connector Visualization
  ibr/examples/html/index.html
  ibr/ibr-sdk/package.json
  ibr/ibr-sdk/src/IBRObject.js
  ibr/ibr-sdk/src/constants.js
  ibr/ibr-sdk/src/renderers.js
  ibr/ibr-sdk/src/sidebar.js
Labels: ibr

#82 import bug fix
  ibr/examples/html/index.html
Labels: ibr
