Repository google/digitalbuildings, pull requests merged in 2022-04, with the labels that each got.

#504 Addition of two new types of HWS (HWS_SWTM_WDPC_BYPVPM and HWS_SWTC_WDPC_BYPVPM_HWVM)
  ontology/yaml/resources/HVAC/entity_types/HWS.yaml
Labels: ontology model

#506 Addition of FAN_SS_ZTC.
  ontology/yaml/resources/HVAC/entity_types/FAN.yaml
Labels: ontology model

#550 Extensions for water-side types
  ontology/yaml/resources/HVAC/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/HVAC/entity_types/CHWS.yaml
  ontology/yaml/resources/HVAC/entity_types/CT.yaml
  ontology/yaml/resources/HVAC/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/HVAC/entity_types/GTWS.yaml
  ontology/yaml/resources/HVAC/entity_types/HWS.yaml
  ontology/yaml/resources/HVAC/entity_types/HX.yaml
  ontology/yaml/resources/HVAC/entity_types/TST.yaml
  ontology/yaml/resources/METERS/entity_types/HM.yaml
  ontology/yaml/resources/fields/telemetry_fields.yaml
  ontology/yaml/resources/subfields/subfields.yaml
Labels: ontology model, P1

#548 Addiiton of new exchanger type and new HWS type.
  ontology/yaml/resources/HVAC/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/HVAC/entity_types/HWS.yaml
  ontology/yaml/resources/HVAC/entity_types/HX.yaml
  ontology/yaml/resources/fields/telemetry_fields.yaml
Labels: ontology model, P2
