Repository google/digitalbuildings, pull requests merged in 2023-01, with the labels that each got.

#892 Addition of a new UPS.*
  ontology/yaml/resources/ELECTRICAL/entity_types/UPS.yaml
Labels: ontology model

#891 Addition of a new EM.
  ontology/yaml/resources/METERS/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/METERS/entity_types/EM.yaml
Labels: ontology model

#890 Update ABSTRACT.yaml
  ontology/yaml/resources/HVAC/entity_types/ABSTRACT.yaml
Labels: ontology model

#882 Update EM.yaml
  ontology/yaml/resources/METERS/entity_types/EM.yaml
Labels: ontology model, P1

#881 typos in meters and safety entity types
  ontology/yaml/resources/METERS/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/SAFETY/entity_types/ABSTRACT.yaml
Labels: bug, ontology model, P1

#844 [DX UNIT MODES ADDITION]
  ontology/yaml/resources/fields/telemetry_fields.yaml
Labels: ontology model, P1

#884 Hydrogen sensor
  ontology/yaml/resources/SAFETY/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/SAFETY/entity_types/HDS.yaml
Labels: ontology model

#899 Project import generated by Copybara.
  ontology/docs/hvac_chws.md
  ontology/yaml/resources/ELECTRICAL/entity_types/UPS.yaml
  ontology/yaml/resources/METERS/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/METERS/entity_types/EM.yaml
  ontology/yaml/resources/SAFETY/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/SAFETY/entity_types/HDS.yaml
Labels: documentation, P2
