Repository google/digitalbuildings, pull requests merged in 2024-01, with the labels that each got.

#1113 Update hvac_hws.md
  ontology/docs/hvac_hws.md
Labels: documentation, P2

#1112 Update hvac_fcu.md
  ontology/docs/hvac_fcu.md
Labels: documentation, P2

#1242 new AHU type and extend RFSS
  ontology/yaml/resources/HVAC/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/HVAC/entity_types/AHU.yaml
Labels: ontology model

#1084 Cleanup of descriptions
  ontology/yaml/resources/ELECTRICAL/entity_types/ATS.yaml
  ontology/yaml/resources/ELECTRICAL/entity_types/CB.yaml
  ontology/yaml/resources/ELECTRICAL/entity_types/GEN.yaml
  ontology/yaml/resources/ELECTRICAL/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/ELECTRICAL/entity_types/TXMR.yaml
  ontology/yaml/resources/HVAC/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/HVAC/entity_types/ANALYSIS.yaml
  ontology/yaml/resources/HVAC/entity_types/BLR.yaml
  ontology/yaml/resources/HVAC/entity_types/CDWS.yaml
  ontology/yaml/resources/HVAC/entity_types/CH.yaml
  ontology/yaml/resources/HVAC/entity_types/CHWS.yaml
  ontology/yaml/resources/HVAC/entity_types/CT.yaml
  ontology/yaml/resources/HVAC/entity_types/CU.yaml
  ontology/yaml/resources/HVAC/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/HVAC/entity_types/SENSOR.yaml
  ontology/yaml/resources/HVAC/entity_types/TANK.yaml
  ontology/yaml/resources/HVAC/entity_types/VLV.yaml
  ontology/yaml/resources/HVAC/entity_types/WEATHER.yaml
  ontology/yaml/resources/PLUMBING/entity_types/RO.yaml
  ontology/yaml/resources/PLUMBING/entity_types/TK.yaml
  ontology/yaml/resources/TRANSPORT/entity_types/ABSTRACT.yaml
  ontology/yaml/resources/TRANSPORT/entity_types/GENERALTYPES.yaml
  ontology/yaml/resources/states/states.yaml
Labels: ontology model, P2

#1189 new dry air cooler
  ontology/yaml/resources/HVAC/entity_types/DC.yaml
Labels: ontology model

#1250 Adding ontology extensions for AHUs & VAV
  ontology/yaml/resources/HVAC/entity_types/AHU.yaml
  ontology/yaml/resources/HVAC/entity_types/VAV.yaml
Labels: ontology model

#1255 Adding a new CHWS Type
  ontology/yaml/resources/HVAC/entity_types/CHWS.yaml
Labels: ontology model
